:root {
  --border-radius: 0.3rem;

  --colors-primary: #0f7ef1;
  --colors-secondary: #023e8a;
  --colors-white: #f7f7f7;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

/* ========================================================================== */
/* APP */
/* ========================================================================== */

.app {
  background: no-repeat center bottom;
  background-size: cover;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;

  padding: 2rem;

  position: absolute;
}

/* ========================================================================== */
/* HEADER */
/* ========================================================================== */

header {
  margin-bottom: 4rem;
}

header::after {
  background: var(--colors-white);

  border-radius: var(--border-radius);

  content: '';

  display: block;

  height: 0.4rem;
}

/* ========================================================================== */
/* CITY-SEARCH */
/* ========================================================================== */

.city-search__label {
  color: var(--colors-white);

  font-weight: 700;
}

.city-search__input {
  background-color: transparent;

  border: none;

  color: var(--colors-white);

  font-weight: 600;

  line-height: 1.5;

  outline: none;

  padding: 1rem;

  width: 100%;
}

.city-search__input::placeholder {
  color: #d5d5d5;

  opacity: 50%;
}

/* ========================================================================== */
/* MAIN */
/* ========================================================================== */

main {
  color: var(--colors-white);

  flex: 1;
}

/* ========================================================================== */
/* TODAYS WEATHER */
/* ========================================================================== */

.todays-weather {
  margin-bottom: 2rem;

  text-align: center;
}

.todays-weather__weather-state,
.todays-weather__city-name,
.todays-weather__temperature {
  margin: 0;

  text-shadow: 0.1rem 0.1rem 0.2rem #969696;
}

.todays-weather__weather-state,
.todays-weather__temperature {
  font-weight: 900;
}

.todays-weather__weather-state {
  font-size: 1.5em;

  margin-bottom: 0.5em;
}

.todays-weather__city-name {
  font-size: 1.3em;
  font-weight: 600;

  margin-bottom: 0.5em;
}

.todays-weather__temperature {
  font-size: 5em;
}

/* ========================================================================== */
/* WEATHER LIST */
/* ========================================================================== */

.weather-list__title {
  margin: 0;

  text-align: center;
  text-shadow: 0.05rem 0.05rem 0.2rem #969696;
}

.weather-list__container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(2, 1fr);

  margin-top: 1.5em;
}

/* ========================================================================== */
/* WEATHER */
/* ========================================================================== */

.weather {
  text-align: center;
}

.weather__icon {
  height: 2.5em;
}

.weather__day,
.weather__temps {
  margin: 0;
}

.weather__day {
  font-weight: 800;

  margin-bottom: 0.5em;
}

.weather__max-temp {
  font-weight: 800;
}

/* ========================================================================== */
/* LOADER */
/* ========================================================================== */

.loader-container {
  background: var(--colors-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  position: fixed;
}

.loader {
  animation: loader 2s infinite ease;

  border: 0.6rem solid #fff;

  display: inline-block;

  height: 4rem;
  width: 4rem;

  position: relative;
}

.loader-inner {
  animation: loader-inner 2s infinite ease-in;

  background-color: #fff;

  display: inline-block;

  vertical-align: top;

  width: 100%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* ========================================================================== */
/* ERROR */
/* ========================================================================== */

.error__sad-face {
  align-self: center;

  font-size: 5em;

  text-align: center;
}

.error__text {
  grid-column: 1 / 3;

  line-height: 1.5;

  padding: 0 2rem;

  text-align: center;
}

/* ========================================================================== */
/* MEDIA QUERIES */
/* ========================================================================== */

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 340px) {
  body {
    font-size: 1.6rem;
  }

  .app {
    padding: 3rem;
  }

  .error__text {
    padding: 0 3rem;
  }
}

@media (min-width: 576px) {
  header {
    margin: 6rem auto 4rem;

    max-width: 58rem;
  }

  main {
    display: grid;

    place-content: center;

    flex: 1;
  }

  .weather-list__container {
    gap: 3em;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 3em;
  }

  .error__text {
    grid-column: 1 / 4;
  }
}

@media (min-width: 768px) {
  .weather__icon {
    height: 3em;
  }
}

@media (min-width: 1200px) {
  .weather-list__container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  .error__text {
    grid-column: 3 / 5;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1.8rem;
  }
}
